<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>

<main role="main">
    <div class="jumbotron">
        <div class="container text-dark text-center">
            <h1 class="display-3"><strong class="rounded pl-3 font-weight-bold">Grocery Store</strong></h1>
        </div>
        <div class="container bg-blur text-white align-content-center rounded mt-5 p-5">
            <h2 class="pl-5 pt-2 text-center">Can't wait to start shopping?</h2>
            <p class="mt-5 text-center">Register groceries, categories and start shopping :)
            </p>
        </div>
    </div>
</main>
<footer th:replace="fragments/common::footer"></footer>

</body>
</html>